<div class="list-group" data-controller="contact-active">
  <% contacts.each do |contact| %>
    <%= link_to contact.full_name,
      contact_path(contact),
      class: "list-group-item list-group-item-action #{'active' if contact == selected_contact }",
      data: {
        turbo_frame: :contact_details,
        turbo_action: :advance,
        action: "click->contact-active#highlight",
        contact_active_target: 'link'
      } %>
  <% end %>
</div>
